.main-layout-component
  margin-bottom: 32px
  header
    margin-bottom: 32px
    h1
      color: #fff
      margin-bottom: 42px
      background-color: #c2c2c2
      padding: 32px

  .main-layout-component-header
    color: #fff
    margin-bottom: 42px
