.main-layout-component {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr;
      grid-template-columns: 250px 1fr;
      grid-template-areas: 'header header' 'aside main';
}

.main-layout-component header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.main-layout-component header h1 {
  color: #F6F6F6;
  background-color: #202020;
  padding: 32px;
  text-transform: uppercase;
}

.main-layout-component .container-aside-classroom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  background-color: #202020;
  width: 100%;
  padding: 0 0 0 32px;
  height: calc( 100vh - 102px);
}

.main-layout-component .container-aside-classroom h2 {
  color: #777777;
  margin: 0 0 16px 0;
}

.main-layout-component .container-aside-classroom .list-classrrom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-layout-component .container-aside-classroom .list-classrrom li {
  padding: 8px 32px 8px 8px;
  background-color: #4D4D4D;
  margin: 0 0 8px 0;
  border-radius: 8px 0 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.main-layout-component .container-aside-classroom .list-classrrom li a {
  text-decoration: none;
  color: #F6F6F6;
  font-size: 16px;
  font-weight: 500;
}

.main-layout-component .container-aside-classroom .list-classrrom li:hover {
  background-color: #5E5E5E;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: 100px 0 black;
          box-shadow: 100px 0 black;
}

.main-layout-component .main-layout-component-header {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  color: #fff;
  padding: 32px;
}
