.container_shorts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 32px 0;
}

.container_shorts h2 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.container_shorts .shorts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin: 16px 0;
}

.container_shorts .shorts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  gap: 8px;
}

.container_shorts .shorts li h2 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2rem;
}

.container_shorts .shorts li span {
  font-size: 14px;
  font-weight: 400;
  color: #8F8F8F;
  margin-bottom: 32px;
}
