.container-card-post
  padding: 16px
  display: flex
  gap: 16px
  cursor: pointer
  flex-wrap: wrap

  .info-post
    background-color: #c2c2c2
    max-width: 300px
    padding: 16px
    display: flex
    flex-direction: column
    gap: 16px
    cursor: pointer
    border-radius: 12px

    h1
      font-size: 16px
      font-weight: 500
      color: #000

    h2
      font-size: 16px
      font-weight: 700

    p
      font-size: 14px
      font-weight: 300

    .btn-view-comments
      color: #000
      font-size: 14px
      text-transform: uppercase
      border-radius: 8px
      padding: 8px 16px
      border: none
      cursor: pointer
      align-self: center
      background-color: #fff
      text-decoration: none
