body {

  background-color: #202020;

  .newGames,.earlyAccessGames {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;

    .container_newGames, .container_earlyGames {

      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 1146px;

    }
  }

  .halloweenOffers, .cheapGames {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;

    .container_offers, .container_cheapGames {

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
      gap: 24px;
      width: 1146px;

    }

  }


}
