.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./../../assets/banner.png);
  padding: 90px 0;
}

.banner .banner_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0c0c0c80;
  padding: 82px 55px;
  border-radius: 12px;
}

.banner .banner_info img {
  width: 200px;
}

.banner .banner_info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 64px 0;
}

.banner .banner_info .title .title_white {
  color: #fff;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 75px;
}

.banner .banner_info .title .title_orange {
  color: #FF7A00;
  font-size: 46px;
  font-weight: 900;
  text-transform: uppercase;
}

.banner .banner_info p {
  color: rgba(255, 255, 255, 0.801);
  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
}

.banner .banner_info p:nth-child(2n) {
  font-size: 18px;
  font-weight: 300;
}
